@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html {
    font-size: 90%;
    scroll-behavior: smooth;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.dark .content-select {
  color-scheme: dark;
}

.dark select {
  color-scheme: dark;
}

.dark select option {
  background-color: #1c1c1f;
  color: #f9fafb;
}
